.body {
	background-color: rgba(99, 99, 99, 0.3);
	padding: 10px 10px;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.logo {
		width: 150px;
		height: 75px;
		object-fit: contain;
		border-radius: 6px;
	}

	.withoutLogo {
		width: 150px;
		height: 75px;
		background-color: rgb(53, 53, 53);
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: rgb(172, 172, 172);
	}

	.name {
		margin-top: 10px;
		font-size: 12px;
		text-align: center;
		color: rgb(172, 172, 172);
	}
}
