// ========================================
// link fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');

// ========================================

* {
	font-family: 'Source Code Pro', monospace;
	transition: 0.4s;
	color: #fff;
}

body {
	background: #0f0f0f;
}

.body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.container {
		flex-grow: 1;
	}
}
