.body {
	margin-top: 120px;

	.search {
		font-size: 16px;
		color: rgb(53, 53, 53);
	}

	.title {
		font-size: 40px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	.cardsWrap {
		width: 100%;
		margin-top: 100px;
		display: grid;
		column-gap: 10px;
		grid-template-columns: repeat(6, minmax(100px, 1fr));

		@media (max-width: 330px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 768px) {
			grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		}
	}

	.bar {
		display: grid;
		grid-template-columns: 20fr 1fr 6fr;

		.popularButton {
			display: block;
			height: 35px;
			padding: 0 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			background: #161616;
			color: #fff;
			border-radius: 6px;
			margin-right: 30px;

			&:hover {
				background: #313131;
			}

			@media (max-width: 768px) {
				font-size: 12px;
			}
			@media (max-width: 489px) {
				font-size: 10px;
			}
		}
	}

	.getMoreDataButton {
		margin-top: 50px;
		display: block;
		width: 170px;
		height: 30px;
		background: #161616;
		border-radius: 6px;

		@media (max-width: 768px) {
			margin: 0 auto;
		}
	}
}
