.body {
	margin-top: 50px;

	.firstSection {
		display: flex;
		.poster {
			width: 350px;
			height: 500px;
			object-fit: cover;
			border-radius: 6px;
		}

		.firstSectionInfo {
			margin-left: 30px;
			.title {
				font-weight: 600;
				font-size: 30px;
			}

			.tagline {
				margin-top: -10px;
				color: rgb(133, 133, 133);

				font-weight: 600;
				font-size: 18px;
			}

			.overview {
				margin-top: 70px;
				color: rgb(133, 133, 133);
				font-weight: 400;
				font-size: 14px;
				text-align: justify;
			}

			.infoCard {
				margin-top: 50px;
				.info {
					margin-top: -8px;
					color: rgb(160, 160, 160);

					font-weight: 400;
					font-size: 14px;
					.link {
						color: rgb(255, 255, 255);
						&:hover {
							color: rgb(124, 124, 124);
						}
					}
				}
			}
		}
	}
	.companies {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 50px;
		margin-top: 50px;

		.companiesCard {
			background-color: rgba(99, 99, 99, 0.3);
			padding: 10px 20px;
			border-radius: 6px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.companiesPoster {
				width: 150px;
				height: 75px;
				object-fit: contain;
				border-radius: 6px;
			}
			.withoutPoster {
				width: 150px;
				height: 75px;
				background-color: rgb(53, 53, 53);
				border-radius: 6px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				color: rgb(172, 172, 172);
			}
		}
		.companiesName {
			margin-top: 10px;
			font-size: 12px;
			text-align: center;
			color: rgb(172, 172, 172);
		}
	}
}
